# CentOS-Base.repo
#
# The mirror system uses the connecting IP address of the client and the
# update status of each mirror to pick mirrors that are updated to and
# geographically close to the client.  You should use this for CentOS updates
# unless you are manually picking other mirrors.
#
# If the mirrorlist= does not work for you, as a fall back you can try the
# remarked out baseurl= line instead.
#
#

[base]
name=CentOS-8 - Base
failovermethod=priority
baseurl={{ docker_rh_repo_base_url }}
gpgcheck={{ '1' if docker_rh_repo_gpgkey else '0' }}
gpgkey={{ docker_rh_repo_gpgkey }}

#released updates
[updates]
name=CentOS-8 - Updates
failovermethod=priority
baseurl={{ docker_rh_repo_base_url }}
gpgcheck={{ '1' if docker_rh_repo_gpgkey else '0' }}
gpgkey={{ docker_rh_repo_gpgkey }}

#additional packages that may be useful
[extras]
name=CentOS-8 - Extras
failovermethod=priority
baseurl={{ docker_rh_repo_base_url }}
gpgcheck={{ '1' if docker_rh_repo_gpgkey else '0' }}
gpgkey={{ docker_rh_repo_gpgkey }}

#additional packages that extend functionality of existing packages
[centosplus]
name=CentOS-8 - Plus
failovermethod=priority
baseurl={{ docker_rh_repo_base_url }}
gpgcheck={{ '1' if docker_rh_repo_gpgkey else '0' }}
gpgkey={{ docker_rh_repo_gpgkey }}
enabled=0

#contrib - packages by Centos Users
[contrib]
name=CentOS-8 - Contrib
failovermethod=priority
baseurl={{ docker_rh_repo_base_url }}
gpgcheck={{ '1' if docker_rh_repo_gpgkey else '0' }}
gpgkey={{ docker_rh_repo_gpgkey }}
enabled=0
